@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Metal+Mania');
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
         font-weight: normal;
         font-style: normal;
}


*{
    box-sizing: border-box;
    font-family: raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}
.nav li {
    display: inline;
    padding: 0 2%;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    border-bottom: 1px solid  rgba(255, 255, 255, .3);
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url(Images/Header\ Background.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 7em;
}

.content-section {
    margin:1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding:0 1.5em;
}

.container-heading{
    font-family: Metal Mania;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}
.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container{
    display: flex;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}
.header-btn {
    color: white;
    background-color: rgba(255, 255, 255, .1);
    border: 2px solid #209cd8;
}
.get-btn {
    margin: .5em 2em .5em 8em;
   padding-left: 3em;
   padding-right: 3em;
   font-size: 1.2em;
}
.header-btn:hover {
    background-color: rgba(255, 255, 255, .3);
}
.play-btn {
    font-size: 1.8em;
    border-radius: 50%;
    color: #209cd8;
    width: 50px;
    height: 50px;
    padding: 0 0 0 3px;
}
.tour-row {
    border-bottom:1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.tour-last-row {
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.tour-item {
    padding-right: .7em;
    display: inline-block;
}
.tour-date{
    color: #555;
    font-weight: bold;

}
.tour-city{
    width: 30%;
    text-align: center;
}
.tour-location {
    width: 35%;
    text-align: center;
}
.tour-btn {
    max-width: 9em;
    background-color: #56CCF2;
    color: white;
    border-radius: 6%;
    border: none;
    font-weight: bold;
}
.tour-btn:hover {
    background-color: #2D9cd8;
}
.shop-item{
    margin: 30px;
}
.shop-item-name {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}
.shop-item-image {
    height: 250px;
}
.shop-item-details {
    display: flex;
    align-items: center;
    margin: 5px;
}
.shop-item-prize {
    flex-grow: 1;
    color: #333;
    font-size: 1.4em;
}
.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


